@{
    ViewData["Title"] = "Om dig";
}
@section Scripts
{
    <script src="~/js/About.js"></script>
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div id="aboutPage" v-cloak>
    <div class="row">
        <div class="col-md-6">
            <h2>Din användar info</h2>
        </div>
        <div class="col-md-6">
            <h2>Om appen</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Förnamn</th>
                    <th>Efternamn</th>
                    <th>E-post</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{user.FirstName}}</td>
                    <td>{{user.LastName}}</td>
                    <td>{{user.Email}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div>
                <p>Detta är ett sidoprojekt av mig; Mathias Marin</p>
                <p>Tanken är att användare ska kunna skapa och administrera budgetar och göra olika kalkyler på de</p>
                <p>Sharing is caring. Vill ni se min källkod finns den här: <a href="https://github.com/mathiasmarin/Marin">GitHub</a></p>
                <p>Tekniker och mönster som jag använt och ska använda i detta projekt:</p>
                <ul>
                    <li>Domain Driven Design(DDD)</li>
                    <li>.NET Core 2.0</li>
                    <li>Entity framework identity core code first</li>
                    <li>Vue js</li>
                    <li>CQRS</li>
                    <li>Repository pattern</li>
                    <li>Domän events</li>
                    <li>CI med appveyor via github</li>
                </ul>
            </div>
        </div>
    </div>
    
</div>
