@{
    ViewData["Title"] = "Home Page";
}

<div id="indexPage" class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Välkommen till Marin Budget</h3>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-12">
            <p>Här kan du skapa och administrera budgetar</p>
        </div>
    </div>
</div>

