body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.primary-green {
    color: #57B273; }
.bottom-margin {
    margin-bottom: 20px; }
.pull-right {
    float: right;
}
li.right20 {
    position: absolute;
    right: 20px;
}
.right20 {
    position: absolute;
    right: 20px;
}
.padding15 {
    padding-top: 9px;
    padding-bottom: 15px;
}
.navbar .userName {
    line-height: 60px;
    height: 80px;
    vertical-align: middle;
    color: #444444; }
.navbar .profile {
    line-height: 60px;
    height: 80px;
    vertical-align: middle;
    color: #444444; }
.navbar .profile .fa {
    margin-top: 17px;
    margin-left: 10px; }
.navbar .dropdown {
    line-height: 60px;
    height: 54px;
    vertical-align: middle; }
.navbar .dropdown.open a {
    background-color: transparent !important; }
.navbar .dropdown a.dropdown-toggle {
    margin-top: 7px;
    margin-right: 12px;
    color: #B01657; }
.navbar .dropdown a.dropdown-toggle:hover {
    color: #444444; }
