<div id="createCostsApp">
    <div class="row">
        <div class="col-md-12">
            <h3>Här kan du skapa din budget</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="active">
                    <a href="@Url.Action("CreateCategories")">Skapa kategorier</a>
                </li>
                <li>
                    <a href="@Url.Action("CreateMonthlyBudget")">Skapa månadsbuget</a>
                </li>
                <li>
                    <a href="@Url.Action("CreateCosts")">Skapa händelse</a>
                </li>
            </ol>
        </div>
    </div>
</div>
