<div class="row">
    <div class="col-md-12">
        <h3 class="text-success">
            Tack för att du skapade konto hos oss. En bekräftelselänk har skickats via e-post till angiven e-post.
        </h3>
    </div>
</div>