<div class="row">
    <div class="col-md-12">
      <div asp-validation-summary="ModelOnly"></div>
        <h3 class="text-success">
            Din e-post är bekräftad.
        </h3>
    </div>
</div>