<div class="row">
    <div class="col-md-12">
        <p class="text-success">
            Tack för att du skapade konto hos oss. En bekräftelselänk har skickats via e-post till angiven e-post.
        </p>
    </div>
</div>