<div [hidden]="!showLoader">
  <div class="row">
    <div id="loader"></div>
  </div>
  <div class="row">
    <div class="col-3 offset-5">
      <h3>Bekräftar e-post...</h3>
    </div>
  </div>
</div>
<div *ngIf="!showLoader" class="animate-bottom centerText">
  <h2>Grattis!</h2>
  <p>Din e-post är bekräftad och du kan logga in <a routerlink="/login"></a></p>
</div>
<div *ngIf="showError" class="animate-bottom centerText alert alert-danger">
  Aj aj aj... Nu gick något fel kissekatten. Testa klicka på länken igen eller kontakta support. :(
</div>
