<div class="row">
  <div class="col-12">
    <div class="login-page">
      <div class="form">
        <form #newPasswordForm="ngForm" (ngSubmit)="resetPassword()">
          <div class="form-group">
            <input [(ngModel)]="newPassword" #pwNew="ngModel" class="form-control" name="Password" type="password" placeholder="Lösenord" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" required />
            <div *ngIf="pwNew.invalid && (pwNew.dirty || pwNew.touched)" class="alert alert-danger">Lösenord måste fyllas i och vara minst 8 tecken långt och innehålla stora och små bokstäver samt minst en siffra</div>
          </div>
          <button type="submit" [disabled]="!newPasswordForm.form.valid">Skapa nytt lösenord<i *ngIf="showSpinner" class="fa fa-spinner fa-spin fa-1dot5x fa-fw"></i></button>
        </form>
        <div *ngIf="showConfirm" class="alert alert-success">
          Ditt lösenord har återställt Klicka på länken för att logga in. <a [routerLink]='["../"]'>Logga in</a>
        </div>
      </div>
    </div>
  </div>
</div>
